<div class="col">
  <div class="row bg-yellow about-page-section pt-5 pb-5" id="about-work">
    <div class="col">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1 class="main-heading pb-4">Work</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-blue about-page-section pt-5 pb-5" id="about-study">
    <div class="col">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1 class="main-heading pb-4">Study</h1>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <table>
                <tr>
                  <th class="pr-3 pr-md-5">Current</th>
                  <th class="pl-3 pl-md-5">Coder Academy</th>
                </tr>
                <tr>
                  <th class="pr-3 pr-md-5">2010</th>
                  <th class="pl-3 pl-md-5">Did other stuff</th>
                </tr>
                <tr>
                  <th class="pr-3 pr-md-5">2000</th>
                  <th class="pl-3 pl-md-5">And some more stuff</th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-yellow about-page-section pt-5 pb-5" id="about-life">
    <div class="col">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1 class="main-heading pb-4">Life</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>


    </div>
  </div>
</div>
