<div class="container-fluid">
  <div class="col">
    <div class="row">

      <!-- LEFT COLUMN -->
      <div class="col-12 col-md-6 bg-black text-white contact-page-left">
        <div class="row">
          <div class="col">

            <h1 class="p-5 text-center">Contact</h1>

            <%= render 'layouts/contact-section' %>

          </div>
        </div>
      </div>

      <!-- RIGHT COLUMN -->
      <div class="col-12 col-md-6 bg-white text-black contact-page-right">
        <div class="row">
          <div class="col">

            <div class="row pt-5">
              <div class="big-font col-5 text-center"><i class="fa fa-github social-icon-contactpage social-icon-contactpage-github"></i></div>
              <div class="col-7 pt-3 social-icon-link-contactpage"><a href="https://github.com/biancapower/" target="_blank">biancapower</a></div>
            </div>
            <div class="row pt-5">
              <div class="big-font col-5 text-center"><i class="fa fa-medium social-icon-contactpage social-icon-contactpage-medium"></i></div>
              <div class="col-7 pt-3 social-icon-link-contactpage"><a href="https://medium.com/@biancapower" target="_blank">@biancapower</a></div>
            </div>
            <div class="row pt-5">
              <div class="big-font col-5 text-center"><i class="fa fa-twitter social-icon-contactpage social-icon-contactpage-twitter"></i></div>
              <div class="col-7 pt-3 social-icon-link-contactpage"><a href="https://twitter.com/20by31" target="_blank">@20by31</a></div>
            </div>
            <div class="row pt-5 pb-5">
              <div class="big-font col-5 text-center"><i class="fa fa-linkedin social-icon-contactpage social-icon-contactpage-linkedin"></i></div>
              <div class="col-7 pt-4 social-icon-link-contactpage"><a href="https://www.linkedin.com/in/drbiancapower/" target="_blank">drbiancapower</a></div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
