<div class="container-fluid">
  <div class="col">
    <div class="row">

      <span class="big-font"><i class="fa fa-github social-icon-homepage social-icon-homepage-github"></i></span>
      <span class="big-font"><i class="fa fa-linkedin social-icon-homepage social-icon-homepage-linkedin"></i></span>
      <span class="big-font"><i class="fa fa-medium social-icon-homepage social-icon-homepage-medium"></i></span>
      <span class="big-font"><i class="fa fa-twitter social-icon-homepage social-icon-homepage-twitter"></i></span>


      <!-- RIGHT COLUMN -->
      <div class="col-12 bg-white text-black">
        <div class="row">
          <div class="col profile-photo-bg">
            <%= image_tag "bianca_bw.jpg", class:"img-fluid profile-photo" %>
          </div>
        </div>
      </div>

      <!-- LEFT COLUMN -->
      <div class="col-12 bg-black text-white intro-text">
        <div class="row text-center">
          <div class="col">
            <h3 class="pb-3" id="intro-heading">Hi, I'm Bianca</h3>
            <p class="pt-4 pb-2 pr-5 pl-5">I’m a full stack developer with experience in Ruby on Rails, Node, React and more.</p>
            <p class="pb-4 pr-5 pl-5">I want to use my skills to make the world a better place.</p>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
