<span class="anchor" id="about-section"></span>
<%= render 'layouts/about-section' %>

<span class="anchor" id="projects-section"></span>
<%= render 'layouts/projects-section' %>

<span class="anchor" id="contact-section"></span>
<%= render 'layouts/contact-section' %>
