<div class="container-fluid">
  <div class="col">
    <div class="row d-flex">

      <span class="big-font"><a href="https://github.com/biancapower/" target="_blank"><i class="fa fa-github social-icon-homepage social-icon-homepage-github"></i></a></span>
      <span class="big-font"><a href="https://www.linkedin.com/in/drbiancapower/" target="_blank"><i class="fa fa-linkedin social-icon-homepage social-icon-homepage-linkedin"></i></a></span>
      <span class="big-font"><a href="https://medium.com/@biancapower" target="_blank"><i class="fa fa-medium social-icon-homepage social-icon-homepage-medium"></i></a></span>
      <span class="big-font"><a href="https://twitter.com/20by31" target="_blank"><i class="fa fa-twitter social-icon-homepage social-icon-homepage-twitter"></i></a></span>


      <!-- RIGHT COLUMN -->
      <div class="col-12 col-md-6 bg-black text-white order-md-2">



        <div class="row">
          <div class="col profile-photo-bg">
            <%= image_tag "bianca_bw.jpg", class:"img-fluid profile-photo" %>
          </div>
        </div>

      </div>

      <!-- LEFT COLUMN -->
      <div class="col-12 col-md-6 bg-black text-white order-md-1">

        <div class="hide-menu-small">
          <%= render 'layouts/main-nav' %>
        </div>

        <div class="row text-center pr-4 pl-4 intro-text">
          <div class="col">
            <h3 class="pb-5" id="intro-heading">Hi, I'm Bianca</h3>
            <p class="pt-4 pb-2 pr-5 pl-5 intro-p">I’m a full stack developer with experience in Ruby on Rails, Node, React and more.</p>
            <p class="pb-4 pr-5 pl-5 intro-p">I want to use my skills to make the world a better place.</p>
            <div class="row d-none d-md-flex pt-5">
              <div class="col-3">
                <span class="big-font social-btm p-5"><a href="https://github.com/biancapower/" target="_blank"><i class="fa fa-github social-icon-homepage-btm"></i></a></span>
              </div>
              <div class="col-2"></div>
              <div class="col-3">
                <span class="big-font social-btm p-5"><a href="https://www.linkedin.com/in/drbiancapower/" target="_blank"><i class="fa fa-linkedin social-icon-homepage-btm"></i></a></span>
              </div>
              <div class="col-3"></div>
              <div class="col-2"></div>
              <div class="col-3 pt-5">
                <span class="big-font social-btm p-5"><a href="https://twitter.com/20by31" target="_blank"><i class="fa fa-twitter social-icon-homepage-btm"></i></a></span>
              </div>
              <div class="col-2"></div>
              <div class="col-3 pt-5">
                <span class="big-font social-btm p-5"><a href="https://medium.com/@biancapower" target="_blank"><i class="fa fa-medium social-icon-homepage-btm"></i></a></span>
              </div>




            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>
