/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // font-family: 'Roboto', sans-serif;
 // FIXME: change from px to em

 @import "bootstrap";

.btn-pink {
  background-color: #FF206E;
  color: #FFF;
  font-size: 2em;
  width: 5em;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #000;
}

.underlined {
  text-decoration: underline;
}

.hi, .projects-heading, .contact-heading, .project-zen h1, .project-ebgames h1, .project-amaysim h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4em;
}

.codepen-projects, .github-projects {
  font-size: 50px !important;
}

// HEADER //

 .header {
   background-color: #FF206E;
   height: 120px;

  // added to restrict width of row to viewport //
   margin-left: 0;
   margin-right: 0;
   width: 100%;
 }

 .main-nav {
   background-color: #FF206E;
 }

 .navbar-toggler {
   border: none;
 }

 .fa-bars {
   font-size: 40px !important;
 }

 .logo {
   height: 70px;
   border: 2px solid white;
 }

 .social-icons p {
   font-size: 30px;
 }

// ABOUT //

.about-section {
  background-color: #FBFF12;
  padding: 5%;
}

.about-blurb p {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  width: 60%;
}

// PROJECTS SECTION //

.projects-section {
  background-color: #41EAD4;
}

.projects-carousel {
  width: 80%;
}

// CONTACT SECTION //

.contact-section {
  background-color: #FBFF12;
}

// FOOTER //

.footer {
  background-color: #FF206E;
  font-size: 2.2em;
  font-family: 'Roboto', sans-serif;
}

//***** PROJECTS PAGE *****//

.a-project-section {
  padding-top: 4.5em !important;
  padding-bottom: 4.5em !important;
}

.projects-social-links {
  background-color: #41EAD4;
  font-size: 3.3em;
}

.project-zen {
  background-color: #FBFF12;
}

.project-ebgames {
  background-color: #41EAD4;
}

.project-amaysim {
  background-color: #FBFF12;
}

.project-feature-image {
  max-width: 80%;
  margin: 2.5em auto;
}

.project-feature-text {
  font-size: 2em;
  max-width: 78%;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {

  .hi, .projects-heading, .contact-heading, .project-zen h1, .project-ebgames h1, .project-amaysim h1 {
    font-size: 2.5em;
  }

  .about-blurb p {
    font-size: 1.5em;
  }

  .btn-pink {
    font-size: 1.3em;
    width: 4em;
  }

  .footer {
    font-size: 1.5em;
  }

  .project-section-social-links {
    font-size: 2em;
  }

  .projects-social-links {
    font-size: 2em;
  }

  .project-feature-text {
    font-size: 1.3em;
  }
}
