<div class="col about-section" id="about-section">
  <div class="row pt-5">
    <div class="col-12 text-center pb-md-4">
      <h1 class="hi">Hi, I'm Bianca</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-around pt-5 pb-md-3">
    <div class="col-12 col-md-6 text-center pb-4">
      <img src="http://via.placeholder.com/250x350" alt="">
    </div>
    <div class="col-12 col-md-6 text-center text-md-left about-blurb d-flex justify-content-center align-items-md-center pt-4">
      <p>I'm a Junior Full Stack Developer who loves getting creative with CSS</p>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-4 d-flex justify-content-center">
      <a href="/about#about-life" class="text-white" target="_blank"><button type="button" class="btn btn-pink">Life</button></a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a href="/about#about-study" class="text-white" target="_blank"><button type="button" class="btn btn-pink">Study</button></a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a href="/about#about-work" class="text-white" target="_blank"><button type="button" class="btn btn-pink">Work</button></a>
    </div>
  </div>
</div>
