<div class="col about-section">
  <div class="row pt-5">
    <div class="col-12 text-center pb-4">
      <h1 class="hi">Hi, I'm Bianca</h1>
    </div>
    <div class="col-12 text-center pt-5 pb-5">
      <img src="http://via.placeholder.com/250x350" alt="">
    </div>
    <div class="col-12 text-center about-blurb d-flex justify-content-center pt-4">
      <p>Blurb goes here, brief and to the point, who I am and what I do</p>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-4 d-flex justify-content-center">
      <button type="button" class="btn btn-pink">Life</button>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <button type="button" class="btn btn-pink">Study</button>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <button type="button" class="btn btn-pink">Work</button>
    </div>
  </div>
</div>
