<div class="col about-section" id="about-section">
  <div class="row pt-5">
    <div class="col-12 text-center pb-md-4">
      <h1 class="hi">Hi, I'm Bianca</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-around pt-5 pb-md-3">
    <div class="col-12 col-md-6 text-center pb-4 order-md-2">
      <%= image_tag "me_profile_photo_bw_2.jpg", class:"img-fluid profile-photo" %>
    </div>
    <div class="col-12 col-md-6 text-center text-md-left about-blurb d-flex justify-content-center align-items-md-center pt-4 order-md-1">
      <p>I'm a Junior Full Stack Developer with experience in Bootstrap 4, Ruby on Rails, Node, and React</p>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-4 d-flex justify-content-center">
      <a href="/about#about-life-section" class="text-white" target="_blank"><button type="button" class="btn btn-pink">Life</button></a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a href="/about#about-study-section" class="text-white" target="_blank"><button type="button" class="btn btn-pink">Study</button></a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a href="/about#about-work-section" class="text-white" target="_blank"><button type="button" class="btn btn-pink">Work</button></a>
    </div>
  </div>
</div>
