<div class="col contact-section" id="contact-section">
  <div class="row pt-5">
    <div class="col-12 d-flex justify-content-center pb-5">
      <h1 class="contact-heading">Get in touch</h1>
    </div>
  </div>
  <!-- <div class="row pt-5 pb-5">
    <div class="col text-center">
      <p>CONTACT FORM GOES HERE</p>
    </div>
  </div> -->
  <div class="row pb-5">
    <!-- <div class="col-6 d-flex justify-content-center justify-content-md-end pl-5 pr-md-5 contact-text">
      <p><em>Get in touch...</em></p>
    </div> -->
    <div class="col-12 d-flex justify-content-center">
      <a href="mailto:drbiancampower@gmail.com?subject=Mail from biancapower.com">
        <!-- uses different button class to make button wider for two-word text -->
        <button type="button" class="btn btn-pink-contact"><span class="fa fa-envelope-o pr-2"></span> Email me</button>
      </a>
    </div>
  </div>
</div>
