<div class="col contact-section" id="contact-section">
  <div class="row pt-5">
    <div class="col-12 text-center pb-5">
      <h1 class="contact-heading">Contact</h1>
    </div>
  </div>
  <!-- <div class="row pt-5 pb-5">
    <div class="col text-center">
      <p>CONTACT FORM GOES HERE</p>
    </div>
  </div> -->
  <div class="row pb-5">
    <div class="col-6 d-flex justify-content-center justify-content-md-end pr-md-5 contact-text">
      <p><em>Get in touch...</em></p>
    </div>
    <div class="col-6 d-flex justify-content-center justify-content-md-start pl-md-5">
      <a href="mailto:drbiancampower@gmail.com?subject=Mail from biancapower.com">
        <!-- uses different button class to make button wider for two-word text -->
        <button type="button" class="btn btn-pink-contact">Email me</button>
      </a>
    </div>
  </div>
</div>
