<div class="col contact-section" id="contact-section">
  <div class="row pt-5">
    <div class="col-12 text-center pb-4">
      <h1 class="contact-heading">Contact</h1>
    </div>
  </div>
  <div class="row pt-5 pb-5">
    <div class="col text-center">
      <p>CONTACT FORM GOES HERE</p>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-pink">Send</button>
    </div>
  </div>
</div>
