<footer class="col footer">
  <div class="row pt-3 pt-md-5 pb-3 pb-md-4 d-flex justify-content-around">
    <div class="col-12 col-md-3 d-flex justify-content-center order-2">
      <a href="https://www.gloomaps.com/xgWEPaV2Re" class="text-white underlined" target="_blank">
        <p>Site Map</p>
      </a>
    </div>
    <div class="col-12 col-md-3 d-flex justify-content-center order-3">
      <div class="row social-icons">
        <div class="col">
          <p class="fa fa-github text-white"></p>
        </div>
        <div class="col">
          <p class="fa fa-linkedin text-white"></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 d-flex justify-content-center text-white pt-2 order-1">
      <p>© 2017</p> <!-- FIXME: make it auto update year -->
    </div>
  </div>
</footer>
