<div class="col projects-section">
  <div class="row pt-5">
    <div class="col-12 text-center pb-4">
      <h1 class="projects-heading">Projects</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="fa fa-codepen codepen-projects"></p>
    </div>
    <div class="col d-flex justify-content-center">
      <p class="fa fa-github-alt github-projects"></p>
    </div>
  </div>
  <div class="row d-flex justify-content-center pt-5 pb-5">
    <img src="http://via.placeholder.com/650x650" alt="">
  </div>
  <div class="row pb-5">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-pink">More</button>
    </div>
  </div>
</div>
