<span class="nav-font"><a href="https://github.com/biancapower/" target="_blank"><i class="fa fa-github social-icon-nav-top-right social-icon-nav-top-right-github"></i></a></span>
<span class="nav-font"><a href="https://medium.com/@biancapower" target="_blank"><i class="fa fa-medium social-icon-nav-top-right social-icon-nav-top-right-medium"></i></a></span>
<span class="nav-font"><a href="https://twitter.com/20by31" target="_blank"><i class="fa fa-twitter social-icon-nav-top-right social-icon-nav-top-right-twitter"></i></a></span>
<span class="nav-font"><a href="https://www.linkedin.com/in/drbiancapower/" target="_blank"><i class="fa fa-linkedin social-icon-nav-top-right social-icon-nav-top-right-linkedin"></i></a></span>
